* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #24252a;
  font-family: "Poppins";
}

li,
a,
button {
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: #edf0f1;
}

header h1 {
  font-weight: 800;
  color: #edf0f1;
  font-size: 32px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.nav_link {
  list-style: none;
}

.nav_link li {
  display: inline-block;
  padding: 0px 20px;
}

button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border-radius: 50px;
  border: none;
}

.nav_link li a:hover {
  color: #0088a9;
}

button:hover {
  background-color: rgba(0, 136, 169, 0.5);
}
